<header>

  <div class="gray">

    <div class="top1">

      <nav>
        <img src="assets/img/logo.svg" width="61" height="40" alt="Логотип" title="" />
        <div>
          <a href="#">Главная</a>
          <a href="#">О компании</a>
          <a href="#">Каталог</a>
        </div>
      </nav>

      <div>
        <a href="tel:+79650842929">
          <img src="assets/img/phone.png" width="28" height="28" alt="Телефон" title="" />
          +7 (965) 084-29-29
        </a>
        <a href="#">
          <img src="assets/img/heart.svg" width="21" height="18" alt="Избранное" title="" />
        </a>
        <a href="#" class="cart">
          <img src="assets/img/cart.svg" width="28" height="28" alt="Корзина" title="" />
          Пусто
        </a>
      </div>

    </div>

  </div>

  <div class="orange">

    <div class="top2">

      <div>
        <a href="#">
          <img src="assets/img/burger-off.svg" width="30" height="24" alt="Корзина" title="" />
          Каталог
        </a>
        <a href="#">Стройматериалы</a>
        <a href="#">Инструменты</a>
        <a href="#">Электрика</a>
        <a href="#">Интерьер и одежда</a>
      </div>

      <div>
        <div class="search">
          <input type="search" placeholder="Поиск, например Круг зачистной" />
          <img src="assets/img/search.png" width="24" height="24" alt="Поиск" title="" />
        </div>
        <a href="#" class="loc">
          <img src="assets/img/map.svg" width="22" height="12" alt="Город" title="" />
          Москва
        </a>
      </div>
    </div>

  </div>

</header>