<header>

  <div class="gray">

    <div class="top1">

      <nav>
        <img src="assets/img/logo.svg" width="61" height="40" alt="Логотип" title="" />
        <div>
          <a href="#">{{ headerTop1Item1 }}</a>
          <a href="#">{{ headerTop1Item2 }}</a>
          <a href="#">{{ headerTop1Item3 }}</a>
        </div>
      </nav>

      <div>
        <a href="tel:+79650842929">
          <img src="assets/img/phone.png" width="28" height="28" alt="Телефон" title="" />
          +7 (965) 084-29-29
        </a>
        <a href="#">
          <img src="assets/img/heart.svg" width="21" height="18" alt="Избранное" title="" />
        </a>
        <a href="#" class="cart">
          <img src="assets/img/cart.svg" width="28" height="28" alt="Корзина" title="" />
          Пусто
        </a>
      </div>

    </div>

  </div>

  <div class="orange">

    <div class="top2">

      <div>
        <a href="#">
          <img src="assets/img/burger-off.svg" width="30" height="24" alt="Корзина" title="" />
          {{ headerTop2Item1 }}
        </a>
        <a href="#">{{ headerTop2Item2 }}</a>
        <a href="#">{{ headerTop2Item3 }}</a>
        <a href="#">{{ headerTop2Item4 }}</a>
        <a href="#">{{ headerTop2Item5 }}</a>
      </div>

      <div>
        <div class="search">
          <input type="search" placeholder="Поиск, например Круг зачистной" />
          <img src="assets/img/search.png" width="24" height="24" alt="Поиск" title="" />
        </div>
        <a href="#" class="loc">
          <img src="assets/img/map.svg" width="22" height="12" alt="Город" title="" />
          Москва
        </a>
      </div>
    </div>

  </div>

</header>

<div class="first">
  <div class="container">
    <h1>Инструмент для вашего <br>бизнеса</h1>
  </div>
</div>

<div class="container benefits">
  <div>
    <img src="/assets/img/more.svg" alt="Большой ассортимент" width="72" height="72" title="" />
    <p><b>Большой ассортимент</b> строительных материалов всегда в наличии</p>
  </div>
  <div>
    <img src="/assets/img/delivery.svg" alt="Доставка стройматериалов" width="72" height="72" title="" />
    <p><b>Доставка стройматериалов</b> в течении четырех часов или в любое удобное время</p>
  </div>
  <div>
    <img src="/assets/img/good.svg" alt="Cистема управления качеством" width="72" height="72" title="" />
    <p>Многоуровневая <b>система управления качеством</b> по стандарту ISO 9001</p>
  </div>
</div>

<div class="container">

  <div class="pagination">
    <button class="active">1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
    <button>5</button>
  </div>

  <div class="groups">
    <div>
      <div>
        <p>Строительный отделочный инструмент</p>
        <img class="left" src="/assets/img/groups-1.png" alt="" width="" height="auto" />
        <a href="#" class="link right">
          <span>Перейти в каталог</span>
          <img src="/assets/img/arrow-right.svg" alt="Перейти в каталог" width="27px" height="auto" />
        </a>
      </div>
    </div>

    <div>
      <div>
        <p class="tar">Эмали</p>
        <img class="left" src="/assets/img/groups-2.png" alt="" width="" height="auto" />
        <a href="#" class="link right">
          <span>Перейти в каталог</span>
          <img src="/assets/img/arrow-right.svg" alt="Перейти в каталог" width="27px" height="auto" />
        </a>
      </div>
      <div>
        <p>Пены, клеи и <br>герметики</p>
        <img class="right" src="/assets/img/groups-4.png" alt="" width="" height="auto" />
        <a href="#" class="link">
          <span>Перейти в каталог</span>
          <img src="/assets/img/arrow-right.svg" alt="Перейти в каталог" width="27px" height="auto" />
        </a>
      </div>
    </div>

    <div>
      <div>
        <p>Лакокрасочные материалы</p>
        <img class="right" src="/assets/img/groups-3.png" alt="" width="" height="auto" />
        <a href="#" class="link">
          <span>Перейти в каталог</span>
          <img src="/assets/img/arrow-right.svg" alt="Перейти в каталог" width="27px" height="auto" />
        </a>
      </div>
      <div>
        <p>Розетки и выключатели</p>
        <img class="left" src="/assets/img/groups-5.png" alt="" width="" height="auto" />
        <a href="#" class="link right">
          <span>Перейти в каталог</span>
          <img src="/assets/img/arrow-right.svg" alt="Перейти в каталог" width="27px" height="auto" />
        </a>
      </div>
    </div>
  </div>

</div>