header > div { 
   width: 100%; 
   padding: 0 60px 
}
.gray {
   background: #4B565E;

   a { color: #fff }
 }
.orange {
   background: #F0BA4E;

   a { color: #3C3C3B }
   .loc { color: #fff }
}
.top1, .top2 {
   width: 1440px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;

   * { 
      display: flex; 
      align-items: center 
   }
}
.top1 { 
   height: 80px;

   nav, div { gap: 40px } 
}
.top2 { 
   height: 48px;

   div { gap: 25px }
}
.cart { 
   border: 1px solid #F0BA4E; 
   border-radius: 20px; 
   padding: 5px 10px; 
   gap: 5px; 
   min-width: 120px; 
   justify-content: center 
}
.search {
   width: 400px; 
   border-bottom: solid 1px #4B565E;

   input { 
      background: none; 
      border: none; width: 100% 
   }
   input:focus-visible { 
      border: none; 
      outline: none 
   }
}